.mdl-layout__header,
.mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}

.mdl-logo {
  margin-bottom: 0px;
}

.mdl-card__title-text {
  color: white;
}

.mdl-card__supporting-text {
  background-color: white;
}

.landing-card-wide.mdl-card {
  width: 75%;
  max-width: 640px;
}

.landing-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("../img/welcome-moon.png") center / cover;
}

.landing-card-wide > .mdl-card__menu {
  color: #fff;
}

.preference-card-square.mdl-card {
  width: 100%;
}

.mdl-grid {
  /* The mystical key to allowing pref cards
     to disappear before they hit the footer. */
  height: 75vh; /* Hmm ... may want to media query this. */
  overflow: scroll;
}

.mdl-cell {
  box-sizing: border-box;
  padding: 6px;
  color: black;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 250px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  flex: 1;
}

.footer-fab {
  position: absolute;
  bottom: 23px;
  right: calc(50% - 20px);
  z-index: 5;
  color: white;
}

footer.mdl-mini-footer {
  padding: 0.25em 0.125em;
  position: relative;
  overflow: visible;
}

.footer-icons {
  padding-top: 0.25em;
}

.copyright-text {
  font-size: 0.8em;
}

.view-button {
  margin: 0 0.5em;
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.view-buttons {
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: center;
}
