.mdl-layout__header,
.mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}

.mdl-navigation__link {
  margin: 0 1em;
  line-height: 2em;
}

.mdl-logo {
  margin-bottom: 0px;
}

.mdl-card__title-text {
  color: white;
}

.mdl-card__supporting-text {
  background-color: white;
}

.landing-card-wide.mdl-card {
  width: 75%;
  max-width: 26em;
}

.landing-card-wide > .mdl-card__title {
  color: #fff;
  height: 11em;
  background: url("../img/welcome-moon.png") bottom / cover;
}

.landing-card-wide > .mdl-card__menu {
  color: #fff;
}

.preference-card-square.mdl-card {
  width: 100%;
}

.results-card.mdl-card {
  min-height: 23.125em;
  width: 17.313em;
}

.mdl-grid {
  /* The mystical key to allowing pref cards
     to disappear before they hit the footer. */
  height: 73vh; /* Hmm ... may want to media query this. */
  overflow: scroll;
}

@media screen and (max-width: 320px) {
  .mdl-grid {
    height: 70vh;
  }
}

.mdl-cell {
  box-sizing: border-box;
  padding: 0.5em;
  color: black;
  margin: 0 auto;
  margin-top: 1.667em;
  min-width: 20.83em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  flex: 1;
}

.footer-fab {
  position: absolute;
  bottom: 0.5em;
  right: calc(50% - 1.3em);
  z-index: 1;
  color: white;
}

#navigate_before,
#navigate_next {
  width: 2.75em;
  height: 2.75em;
}

footer.mdl-mini-footer {
  padding: 0.25em 0.125em;
  position: relative;
  overflow: visible;
}

.footer-icons {
  padding-top: 0.25em;
}

.copyright-text {
  font-size: 0.8em;
}

.view-button {
  margin: 0 1em;
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.view-buttons {
  height: 2.6em;
  width: 100%;
  display: flex;
  justify-content: center;
}
