.mdl-layout__header,
.mdl-layout__drawer-button,
.mdl-layout__header-row .mdl-navigation__link {
  color: white;
}

.mdl-navigation__link {
  margin: 0 1em;
  line-height: 2em;
}

.mdl-logo {
  margin-bottom: 0px;
}

.mdl-card__title-text {
  color: white;
}

.mdl-card__supporting-text {
  background-color: white;
}

.landing-card-wide.mdl-card {
  width: 75%;
  max-width: 26em;
}

.landing-card-wide > .mdl-card__title {
  color: #fff;
  height: 11em;
  background: url("../img/welcome-moon.png") bottom / cover;
}

.landing-card-wide > .mdl-card__menu {
  color: #fff;
}

.preference-card-square.mdl-card {
  width: 100%;
}

.mdl-slider__container {
  /* width: 17.5em; */
  width: 90%;
  padding: 0 0.5em;
}

/* http://danielstern.ca/range.css/?ref=css-tricks#/ */
input[type="range"].enhanced-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 11.65px 0;
}
input[type="range"].enhanced-slider:focus {
  outline: none;
}
input[type="range"].enhanced-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 0.2px rgba(0, 0, 0, 0.29),
    0px 0px 1.3px rgba(13, 13, 13, 0.29);
  background: rgba(7, 13, 19, 0.17);
  border-radius: 3.6px;
  border: 0px solid #010101;
}
input[type="range"].enhanced-slider::-webkit-slider-thumb {
  box-shadow: 1.4px 1.4px 0px #b3adec, 0px 0px 1.4px #c6c2f1;
  border: 1.4px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 21px;
  border-radius: 17px;
  background: #467ee2;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.65px;
}
input[type="range"].enhanced-slider:focus::-webkit-slider-runnable-track {
  background: rgba(18, 33, 49, 0.17);
}
input[type="range"].enhanced-slider::-moz-range-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  box-shadow: 1.3px 1.3px 0.2px rgba(0, 0, 0, 0.29),
    0px 0px 1.3px rgba(13, 13, 13, 0.29);
  background: rgba(7, 13, 19, 0.17);
  border-radius: 3.6px;
  border: 0px solid #010101;
}
input[type="range"].enhanced-slider::-moz-range-thumb {
  box-shadow: 1.4px 1.4px 0px #b3adec, 0px 0px 1.4px #c6c2f1;
  border: 1.4px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 21px;
  border-radius: 17px;
  background: #467ee2;
  cursor: pointer;
}
input[type="range"].enhanced-slider::-ms-track {
  width: 100%;
  height: 3.7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"].enhanced-slider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.17);
  border: 0px solid #010101;
  border-radius: 7.2px;
  box-shadow: 1.3px 1.3px 0.2px rgba(0, 0, 0, 0.29),
    0px 0px 1.3px rgba(13, 13, 13, 0.29);
}
input[type="range"].enhanced-slider::-ms-fill-upper {
  background: rgba(7, 13, 19, 0.17);
  border: 0px solid #010101;
  border-radius: 7.2px;
  box-shadow: 1.3px 1.3px 0.2px rgba(0, 0, 0, 0.29),
    0px 0px 1.3px rgba(13, 13, 13, 0.29);
}
input[type="range"].enhanced-slider::-ms-thumb {
  box-shadow: 1.4px 1.4px 0px #b3adec, 0px 0px 1.4px #c6c2f1;
  border: 1.4px solid rgba(0, 0, 0, 0);
  height: 27px;
  width: 21px;
  border-radius: 17px;
  background: #467ee2;
  cursor: pointer;
  height: 3.7px;
}
input[type="range"].enhanced-slider:focus::-ms-fill-lower {
  background: rgba(7, 13, 19, 0.17);
}
input[type="range"].enhanced-slider:focus::-ms-fill-upper {
  background: rgba(18, 33, 49, 0.17);
}

.results-card.mdl-card {
  min-height: 23.125em;
  width: 17.313em;
}

.mdl-grid {
  /* The mystical key to allowing pref cards
     to disappear before they hit the footer. */
  height: 73vh; /* Hmm ... may want to media query this. */
  overflow: scroll;
}

@media screen and (max-width: 320px) {
  .mdl-grid {
    height: 70vh;
  }
}

.mdl-cell {
  box-sizing: border-box;
  padding: 0.5em;
  color: black;
  margin: 0 auto;
  margin-top: 1.667em;
  min-width: 20.83em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3em;
  margin-bottom: 3em;
  flex: 1;
}

.footer-fab {
  position: absolute;
  bottom: 0.4em;
  right: calc(50% - 1.3em);
  z-index: 1;
  color: white;
}

#navigate_before,
#navigate_next {
  width: 2.75em;
  height: 2.75em;
}

footer.mdl-mini-footer {
  padding: 0.25em 0.125em;
  position: relative;
  overflow: visible;
}

.footer-icons {
  padding-top: 0.25em;
}

.copyright-text {
  font-size: 0.8em;
}

.view-button {
  margin: 0 1em;
  padding-top: 0.25em;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.view-buttons {
  height: 2.6em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.blue-text {
  color: blue;
}

.red-text {
  color: red;
}
